
<!DOCTYPE html>
<head>
    <title>Newsify</title>
    <script src="https://unpkg.com/scrollreveal@4"></script>
    <link href="../static/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h1 class="heading1">Newsify</h1>
    <section id="form" class="try">
    <form method="POST" action="/result" >
        <input type="text" name="newsTitle" placeholder=" Search by news title" ><br><br>

        <input type="submit" value="Look Up" > </form>
</section>
<script> ScrollReveal().reveal('.try'); ScrollReveal().reveal('.heading1');</script>

<br>
    <div class="wrapper">
<div class="box_wrapper">
    <div class="box">
      <h2> Total confirmed</h2>
      <p>{{ totalconfirmed }}</p>

    </div>

    <div class="box">
      <h2>Total Recovered</h2>
      <p>{{ totalrecovered }}</p>
    </div>
    <div class="box">
      <h2>Total Deaths</h2>
      <p>{{ totaldeceased }}</p>
    </div>

  </div>
 </div>

</body>
</html>

